$green:#005E64;
$orange: #DE7C0C;
$padding_title:0.6rem;
$title_radius:10px;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 980px) {
    header {
        margin-top: 70px;
    }
}

/* NAVBAR */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.form-inline {
    padding-top: 0.5rem;
    margin: auto;
}

/* Jumbotron */

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1{
      font-size: 3rem;
      margin:0.5rem;
    }
    .green{
      color:$green;
    }
    .orange{
      color: $orange;
    }
    .jumbo_title{
      background-color: rgba(245, 245, 245, 0.801);
      padding-left:$padding_title;
      padding-right:$padding_title;
      padding-bottom: $padding_title;
      border-radius: $title_radius;
    }
  }
  @media only screen and (max-width:576px){
    .two_words{
      background-color: rgba(245, 245, 245, 0.801);
      border-radius: $title_radius;
    }
  }
  @media only screen and (min-width:576px){
    .jumbo_title_two_words{
      background-color: rgba(245, 245, 245, 0.801);
      padding-left:$padding_title;
      padding-right:$padding_title;
      padding-bottom: $padding_title;
      border-radius: $title_radius;
    }
    .two_words{
      background-color: rgba(0,0,0,0);
    }
}

/* NEWS CARDS*/

.card-global{
    display: flex;
    justify-content: space-around;
    
    padding: 40px 0px 40px 0px;
    position: relative;
    overflow: hidden;
    
    .card-body{
        position: relative;
        transition: 0.3s;
        background: #fff;
        width:100%;
        margin: 0;
        padding: 0px;
        height: 75px;
        top:22px;
        z-index: 1;
        
        h5{
            padding-left: 10px;
            padding-top: 10px;
        }
        p{
            opacity: 0  ;
            background: #fff;
            padding: 0 10px;
            transition: 0.4s ;
        }
    }
}
.card-global:hover{
    .card-img-top{   
        filter: opacity(50%);  
    }
    .card-body{
        transform: translateY(-125px);  
        p{
            opacity: 1;
        }
    }   
} 
.btn{
    overflow: hidden;
    background: #DE7C0C;
    border: 1px solid black;
    position: relative;
    z-index: 999;
    &:hover{
        background: #005E64;
        border: 1px solid black;
    }
}

.menu{
    
    padding: 40px 20px;
    margin: 0;
}
.zone{
    padding: 40px 20px;
}
.list-menu li{
    list-style-type: none;
    
    color: white;
}

/* footer */
.footerglobal{
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
    .footerlink{
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
               
        .social{
            color: #DE7C0C;
            font-size: 350%;
        }
        .adresse{
            color: white;
            text-align: center;
            padding-top: 20px;
        }
        
    }
    .btn-danger{
        width: 50%;
    }
    .copyright{
        color: white;
        text-align: center;
    }
}